<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static',   filename='css/styles.css') }}">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <title>Am I Cancelled?</title>
        
    </head>

    <body>

        <div id="div1">
            <h1 class="header">Am I Cancelled? <img src="{{ url_for('static', filename= 'amICancelled_logo.jpg') }}" id="app_logo"></h1>
        </div>
        
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script type="text/javascript">
            function success() {
                alert("Deleted Tweet! Click Back to Start Button for it to disappear.");
            }
        </script>


        <div id="div2alt">
            <div id="main">
                <br>
                <h1 style="color: green;">Successfully authenticated @{{screen_name}}!</h1>
               <br>
               <br>
                <a href="{{ url_for('home') }}"><button type="button" id="backButton">Back to Start</button></a>
                <br>
                <br>
                {% if naughty == True %}
                    <h1>You have {{ naughtyCount }} cancel-worthy tweet(s)</h1>
                    {% else %}
                    <h1>You are not cancelled!</h1>
                {% endif %}
                {% for tweet,id,username in zipped %}
               <!-- <p> <b>@{{ username }}</b> tweeted: " {{ tweet }} "  <br> tweet url: <a href="https://twitter.com/{{username}}/status/{{id}}" target="_blank" rel="noopener noreferrer">https://twitter.com/{{username}}/status/{{id}}</a></p> 
                <a href=# id="test"><img src="{{ url_for('static', filename='delete.png') }}" class="delete_button" style="width: 15px; height: 15px;"/></a> -->
               <br>
               <blockquote class="twitter-tweet" data-lang="en" data-align="center" data-dnt="true">
                   <p lang="en" ></p> <a href="https://twitter.com/{{username}}/status/{{id}}" target="_blank" rel="noopener noreferrer"> </a>
                </blockquote>

                <!--
                    temporarily disable delete button since it does not work on heroku
                    given error is something like: cannot found twitter.API() module
                    maybe try using the generic twitter API delete call
                
                <form action="{{ url_for('delete_tweet') }}" method="POST">
                    <input type="hidden" id="index" name="index" value="{{ loop.index }}">
                    <input type="image" name="submit" src="{{ url_for('static', filename='delete.png') }}" alt="submit" style="width: 15px; height: 15px;" onclick="success()">
                </form>
                -->
                <br>
                {% endfor %}


            </div>
        </div>

        <script id="twitter-wjs" type="text/javascript" async defer src="//platform.twitter.com/widgets.js"></script>

        <footer id="footer">
            <p id="footer-text">Created By: Tony Alas, 2020.   <a href="mailto:tony_alas99@hotmail.com" id="email_link">Contact me via email.</a>
                <a href="http://alas11.myweb.cs.uwindsor.ca" id="email_link">Visit my Personal Website.</a>
                </p>
        </footer>
    </body>

    

</html>