<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static',   filename='css/styles.css') }}">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <title>App Error!</title>
    </head>

    <body>

        <div id="div1">
            <h1 class="header">Am I Cancelled? <img src="{{ url_for('static', filename= 'amICancelled_logo.jpg') }}" id="app_logo"></h1>
        </div>


        <div id="div2alt">
            <br>
            <br>
            <div id="main">
                <h1 style="color: red;">There has been an error!<br> Reason: {{ error_message }}</h1>
     
                <h2><b>If this is your first time seeing this message after logging in:</b></h2>
                 <p><b>please try refreshing this page</b> <br>or<br> go back to the app homepage using the button below and try again.</p>
                 
                 <a href="{{ url_for('home') }}"><button type="button" id="backButton">Back to Start</button></a>
            </div>
        </div>

    <footer id="footer">
        <p id="footer-text">Created By: Tony Alas, 2020.   <a href="mailto:tony_alas99@hotmail.com" id="email_link">Contact me via email.</a>
            <a href="http://alas11.myweb.cs.uwindsor.ca" id="email_link">Visit my Personal Website.</a>
            </p>
    </footer>

    </body>

    

</html>    