<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="{{ url_for('static',   filename='css/styles.css') }}">

    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename= 'apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename= 'favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename= 'favicon-16x16.png') }}">
    <link rel="manifest" href="{{ url_for('static', filename= 'site.webmanifest') }}">
    <link rel="mask-icon" href="{{ url_for('static', filename='safari-pinned-tab.svg') }}" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <title>Am I Cancelled? Start Page</title>
</head>

<body>

    <div id="div1">
        <h1 class="header">Am I Cancelled? <img src="{{ url_for('static', filename= 'amICancelled_logo.jpg') }}" id="app_logo"></h1>
    </div>


    <div id="div2alt">
        <div id="main">
            <br>
            <h2>Get Started:</h2>
            <a href="{{ authorize_url }}?oauth_token={{ oauth_token }}"><img src="{{ url_for('static', filename='twitter_button.png') }}" id="twitter_button"/></a>

            <h2>What is Am I Cancelled?</h2>
            <p id="main_text">
                Am I Cancelled? is a Twitter Web App that searches through a large <br>bank of words that may be cancel-worthy,<br>and then checks your account for them. <br> Often times people can change over many years,<br>so they at least deserve a second chance.
                <br>
            </p>
            <div id="inner_div">

            
            <h2>Have Word Suggestions?</h2>
            <p id="main_text">
                If you have any words to suggest that may not be included in the search,<br>please email me using the email link in the footer of this page.<br> Or direct message me at <a href="https://twitter.com/tonyalas3" target="_blank" rel="noopener noreferrer">@tonyalas3.</a>
            </p>

            <!-- 
            <br>

            <div id="div1">
                
            </div>

            <blockquote class="twitter-tweet" data-lang="en" data-align="center" data-dnt="true">
                <p lang="en" ></p> <a href="https://twitter.com/elliottrogers11/status/1252290073346953221" target="_blank" rel="noopener noreferrer"> </a>
             </blockquote>
            -->

            <!--
                <h4>Known Bugs</h4>
                <p id="main_text">
                    When trying to login, a failure may occur which results in an error page. <br> This is a known bug that strangely only happens sometimes.<br>
                    I am working on a solution to fix this. Please try following the steps<br>provided on the error page if it does not work on the first login attempt.
                </p>
            -->
                
            <h4>Additional Info</h4>
            <p id="main_text">
                Due to the nature of the Twitter Search API,<br>accounts that are private will not be able to use this.
                <br><br>
                I do <b>not</b> collect or store any of your information.<br>All of the authentication is done following the Twitter + OAuth standard.
                <br><br>
                This is my first official project, so it may not be perfect.<br>Please contact me if there any major bugs.
                <br><br>
                You may find that some words are not cancel-worthy in the given<br>context of the tweet. If that is the case, please ignore.
                <br><br>
                Ultimately, I hope this can be used responsibly.
                <br><br>
                Lastly, I hope you enjoy it. :)
            </p>
        </div>
        </div>
    </div>
    <script id="twitter-wjs" type="text/javascript" async defer src="//platform.twitter.com/widgets.js"></script>

    <footer id="footer">
        <p id="footer-text">Created By: Tony Alas, 2020.   <a href="mailto:tony_alas99@hotmail.com" id="email_link">Contact me via email.</a>
        <a href="http://alas11.myweb.cs.uwindsor.ca" id="email_link" target="_blank" rel="noopener noreferrer">Visit my Personal Website.</a>
        </p>
    </footer>

</body>



</html>